asn1crypto==0.24.0
backcall==0.1.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.6.1
decorator==4.4.0
entrypoints==0.3
enum34==1.1.6
fake-useragent==0.1.11
future==0.17.1
fuzzywuzzy==0.17.0
haversine==2.1.1
idna==2.8
ipdb==0.12
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
jeepney==0.4
keyring==19.0.1
numpy==1.16.3
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.3.1
requests==2.7.0
SecretStorage==3.1.1
six==1.12.0
soupsieve==1.9.1
traitlets==4.3.2
urllib3==1.24.3
vk-api==11.4.0
wcwidth==0.1.7
